pillow
alabaster
sphinx
sphinx-rtd-theme
readthedocs-sphinx-ext
jinja2
sphinxcontrib-websupport
mock
commonmark
recommonmark
docutils
six
Pygments
snowballstemmer
babel
imagesize
requests
packaging
MarkupSafe
charset-normalizer
idna
urllib3
certifi
